.wrapperComponent {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 2rem;
  margin-bottom: 1rem;
}

.indicator {
  width: 50%;
  background-color: var(--second-color);
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
}

.innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
