.wrapperComponent {
  display: flex;
  flex: 0 0 45%;
  align-items: center;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  border: .2rem solid var(--second-color);
  border-top-left-radius: 1rem;
  padding-bottom: 1rem;

}

.indicator {
  width: 100%;
  background-color: var(--second-color);
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
}
