.header {
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.headerTitle {
  padding: 0.5rem;
}

.subTitle {
  background-color: var(--main-color);
  color: var(--third-color);
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
}
