.header {
  margin: auto;
  max-width: 128rem;
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.taskInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.headerTitle {
  padding: 0.5rem;
}

.subTitle {
  background-color: var(--main-color);
  color: var(--third-color);
  font-weight: 600;
  padding: 1.5rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
}
