* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-color);
  font-size: 1.2rem;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

.pageTitle {
  margin-top: 1rem;
  color: #eae5e5;
}
